{% extends "base.html" %}


{% block content %}
  <h3>Step 2: Personal Experience</h3>
  <br>
  <!-- <h4 class="pl-3">{{address}}</h4> -->
  <div class="row g-5">
    <form action="" method="POST" enctype="multipart/form-data"  role="form">
      {% csrf_token %}
      <div class="form-group m-3">
        <label>Comment</label>
        <textarea required class="form-control" name="comment" rows="5" cols="40" placeholder="Enter a description"></textarea>
        </div>

        <div class="form-group m-3">
            <label>Visited At</label>
            <input required name="visited_date" type="date" placeholder="Create a new category"
                class="form-control">
        </div>

        <div class="form-group m-3">
            <label>Upload image</label>
            <input required name="images_upload" type="file" multiple class="form-control-file" accept=".png, .jpg, .jpeg">
        </div>

        <button type='submit' class="btn btn-primary m-3">Submit</button>
    </form>
  </div>
{% endblock content %}