<header class="p-3 text-bg-dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="{% url 'home' %}" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
        </a>
  
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          
          <li><a href="{% url 'home' %}" class="nav-link px-2 text-white">Home</a></li>
          
          <li><a href="{% url 'profile' %}" class="nav-link px-2 text-white">Profile</a></li>
          
        </ul>
  
        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search" action="" method="GET">
          <input type="search" class="form-control" placeholder="Search by location..." aria-label="Search" name="q">
        </form>
        
        
          <div class="dropdown text-end">
              <a href="#" class="d-block link-red text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <img 
                    {% if user.socialaccount_set.all.0.get_avatar_url %}
                      src="{{user.socialaccount_set.all.0.get_avatar_url}}&access_token=1472281443181117|a5f871ebdeec9d990257aa03080f469e"
                    {% else%}
                      src="https://firebasestorage.googleapis.com/v0/b/saritasa-python-test.appspot.com/o/images%2Favatar.png?alt=media"
                    {% endif%}

                    alt='Avatar'
                    width="32" height="32" class="rounded-circle">
              </a>
              <ul class="dropdown-menu text-small">
                <li>
                  <a class="dropdown-item" href="#">
                    Hi, {% if user.first_name and user.last_name %} 
                          {{user.first_name}} {{user.last_name}}
                        {% else %}
                          {{ user.username }} 
                        {% endif %}

                  </a>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
              </ul>
            </div>      
      </div>
    </div>
  </header>
