<header class="p-3 text-bg-dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
        </a>
  
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          {% block home_active %}
          <li><a href="" class="nav-link px-2 text-{% if selected == 'home' %}secondary{% endif %}">Home</a></li>
          {% endblock home_active%}
          {% block mem_active %}
          <li><a href="{% url 'profile' %}" class="nav-link px-2 text-{% if selected == 'memory' %}secondary{% endif %}">Profile</a></li>
          {% endblock mem_active%}
        </ul>
  
        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search" action="" method="GET">
          <input type="search" class="form-control" placeholder="Search by location..." aria-label="Search" name="q">
        </form>
        
        {% if not backends.associated%}
          <div class="dropdown text-end">
              <a href="#" class="d-block link-red text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="/media/avatar.png" alt="mdo" width="32" height="32" class="rounded-circle">
              </a>
              <ul class="dropdown-menu text-small">
                <li><a class="dropdown-item" href="#">Hi, {{ user.username }}</a></li>
                <li><a class="dropdown-item" href="{% url 'profile' %}">Profile</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
              </ul>
            </div>
        {% endif%}

        <!-- Login with facebook-->
        {% for ass in backends.associated %}
          {% if ass.provider == 'facebook' %}
            <div class="dropdown text-end">
              <a href="#" class="d-block link-red text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="{{ass.extra_data.picture.data.url}}" alt="mdo" width="32" height="32" class="rounded-circle">
              </a>
              <ul class="dropdown-menu text-small">
                <li><a class="dropdown-item" href="#">Hi, {{ ass.extra_data.name }}</a></li>
                <li><a class="dropdown-item" href="{% url 'profile' %}">Profile</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
              </ul>
            </div>
          {% endif %}
        {% endfor %}
          
      </div>
    </div>
  </header>
